# ignored files below
.env
bq_key.json
venv/
files/bot.log
files/bot_MJT.log
files/bot_mattbot1.log
files/images/leaderboard.png
files/images/rescan.png
__pycache__/bot_camera.cpython-39.pyc
__pycache__/bot_functions.cpython-38.pyc
__pycache__/bot_functions.cpython-39.pyc
test.py